.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #f4f4f4;
    color: #333;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    width: 120px;
    margin-bottom: 15px;
  }
  
  .footer-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }

  .payment-logos {
    display: flex;
    align-items: center;
  }
  
  .payment-logos img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  
  .footer-heading {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
  }
  
  .newsletter-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .email-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #ccc;
  }
  
  .subscribe-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons svg {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: black;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }

  /* Add this for copyright text */
.footer-copyright {
  background-color: #333;
  padding: 10px;
  grid-column: 1 / -1;
  text-align: center;
  /* margin-top: 20px; */
  font-size: 14px;
  color: #fff;
}
  
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  }
  